name: Build Nightly Releases

defaults:
  run:
    shell: bash

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  base:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm i -g pnpm
      - run: cd ui && pnpm i --frozen-lockfile
      - run: cd ui && pnpm run build
      - run: cd ui && pnpm run test
      # Upload the UI and changelog as *job* artifacts (not *release* artifacts), used below.
      - uses: actions/upload-artifact@v6
        with:
          name: moonfire-nvr-ui-${{ github.ref_name }}
          path: ui/dist
          if-no-files-found: error

  cross:
    needs: base # for bundled ui
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          # Note: keep these arches in sync with `Upload Docker Manifest` list.
          - arch: x86_64 # as in `uname -m` on Linux.
            rust_target: x86_64-unknown-linux-musl # as in <https://doc.rust-lang.org/rustc/platform-support.html>
            docker_platform: linux/amd64 # as in <https://docs.docker.com/build/building/multi-platform/>
          - arch: aarch64
            rust_target: aarch64-unknown-linux-musl
            docker_platform: linux/arm64
          - arch: armv7l
            rust_target: armv7-unknown-linux-musleabihf
            docker_platform: linux/arm/v7
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Download UI
        uses: actions/download-artifact@v7
        with:
          name: moonfire-nvr-ui-${{ github.ref_name }}
          path: ui/dist

      # actions-rust-cross doesn't actually use cross for x86_64.
      # Install the needed musl-tools in the host.
      - name: Install musl-tools
        run: sudo apt-get --option=APT::Acquire::Retries=3 update && sudo apt-get --option=APT::Acquire::Retries=3 install musl-tools
        if: matrix.rust_target == 'x86_64-unknown-linux-musl'
      - name: Build
        uses: houseabsolute/actions-rust-cross@v1
        env:
          UI_BUILD_DIR: ../ui/dist

          # cross doesn't install `git` within its Docker container, so plumb
          # the version through rather than try `git describe` from `build.rs`.
          VERSION: ${{ github.ref_name }}
        with:
          working-directory: server
          target: ${{ matrix.rust_target }}
          command: build
          args: --release --features bundled,mimalloc
      # Upload as a *job* artifact (not *release* artifact), used below.
      - name: Upload Job Artifact
        uses: actions/upload-artifact@v6
        with:
          name: moonfire-nvr-${{ github.ref_name }}-${{ matrix.arch }}
          path: output/moonfire-nvr
          if-no-files-found: error
